body {
  font-size: 16px;
  margin: 0;
  font-family: "Karla", sans-serif;
}

#top-header {
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

#logo {
  padding-top: 0.5em;
}

#menu-icon-close-icon-wrapper {
  position: relative;
  right: 2em;
}

#menu-icon {
  position: absolute;
}

#close-icon {
  position: absolute;
}

#header-nav {
  display: none;
  background-color: #301E41;
  text-align: center;
  padding: 3em 2em 4em;
}

#header-nav > a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2em;
}

#header-nav > button {
  font-size: 1.2em;
  width: 100%;
}

#intro-image {
  display: block;
}

#about {
 background-color: #301E41;
 padding: 4.5em 2em;
 background-image: url("/images/bg-pattern-intro-left-mobile.svg");
 background-repeat: no-repeat;
 background-position-x: left;
 background-position-y: top;
}

#about hr {
  display: none;
}

#about > h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;  
  font-size: 2.7em;
  color: white;
  margin-top: 0;
  text-align: center;
  line-height: 1.1;
}

#about > p  {
  color: white;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;  
  margin-bottom: 2em;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button {
  border: 1px solid white;
  padding: 1em 2em;
  background-color: #301E41;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: "Karla", sans-serif;
  font-weight: 700;  
}

#how-we-work {
  padding: 7em 1.5em 8em;
}

#how-we-work hr {
  width: 40%;
}

#how-we-work > h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;  
  font-size: 2.7em;
  text-align: center;
}

#features {
  text-align: center;
  margin-bottom: 9em;
}

.single-feature {
  margin-top: 3em;
}

.single-feature > h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;  
  font-size: 1.7em;
}

.single-feature > p {
  color: #848386;
  line-height: 1.5;
}

#more-how-we-work {
  background-color: #301E41;
  padding: 4em 1em;
  background-image: url("/images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top; 
}

#more-how-we-work > h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;  
  font-size: 2.5em;
  color: white;
  text-align: center;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1em;
}

footer {
  background-color: hsl(0, 0%, 98%);
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

#social-icons {
  margin-top: 2em;
  margin-bottom: 2em;
}

#social-icons img {
  margin-right: 1em;
}

footer hr {
  width: 90%;
}

#bottom-footer h3 {
  color: #78777A;
  font-size: 0.9em;
  letter-spacing: 1px;
}

#bottom-footer a {
  color: #231B2E;
  text-decoration: none;
  display: block;
  margin-bottom: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.9em;
}

#bottom-footer > div {
  margin-top: 3em;
}

#bottom-footer nav {
  margin-top: 2.5em;
}

@media (min-width: 1024px) {

  header {
    padding: 2em 5em;
  }

  #top-header {
    padding: 0;
    width: 40%;
    display: inline-block;
  }  

  #menu-icon-close-icon-wrapper {
    display: none;
  }

  #header-nav {
    display: inline;
    padding: 0;
    background-color: unset;
  }

  #header-nav > a {
    display: inline;
    color: #78777A;
    margin-right: 2em;
  }

  #header-nav > a:hover {
    color: #292929;
  }

  #header-nav > button {
    width: unset;
    color: #292929;
    border-color: #292929;
    border-width: 2px;
    background-color: unset;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
  
  #header-nav > button:hover {
    background-color: #292929;
    color: white;
  }

  button:hover {
    cursor: pointer;
  }

  #about {
    padding: 7em 10em;
    background-image: url("/images/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
   }

  #about hr {
    display: inline-block;
    width: 10%;
    margin-bottom: 3em;
  }
  
  #about h1 {
    text-align: left;
    width: 40%;
    font-size: 3.5em;
    margin-bottom: 0;
  }
  
  #about p {
    text-align: left;
    width: 40%;
    font-size: 1.2em;
  }

  #about > .button-wrapper {
    justify-content: left;
  }  

  #about button {
    font-size: 1.2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }

  .button-wrapper button:hover {
    background-color: white;
    color: #292929;
  }

  #intro-image {
    position: absolute;
    right: 10em;
    top: 15em;
    height: 42em;
  }
  
  #how-we-work {
    padding-top: 20em;
    padding-left: 10em;
    padding-right: 10em;
  }

  #how-we-work hr {
    display: inline-block;
    width: 10%;
  }

  #how-we-work > h1 {
    text-align: left;
    width: 40%;
    font-size: 3.5em;
  }

  #features {
    text-align: left;
    display: flex;
    justify-content: space-between;
  } 

  .single-feature {
    flex-basis: 22em;
  }

  .single-feature > h2 {
    font-size: 2em;
  }
  
  .single-feature > p {
    font-size: 1.2em;
  }
  
  #more-how-we-work {
    display: flex;
    justify-content: space-between;
    padding: 5em;
    background-image: url("/images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
  }

  #more-how-we-work > h1 {
    margin-bottom: 0;
    flex-basis: 45%;
    text-align: left;
    font-size: 3em;
  }

  #more-how-we-work > .button-wrapper {
    align-self: center;
  }

  #more-how-we-work button {
    font-size: 1.2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }

  footer {
    padding-left: 10em;
    padding-right: 10em;
  }

  #top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer #logo {
    padding-top: 0;
  }

  #social-icons img {
    cursor: pointer;
  }

  footer hr {
    width: 100%;
  }

  #bottom-footer {
    display: flex;
    justify-content: space-between;
  }

  #bottom-footer > div {
    text-align: left;
  }
  
  #bottom-footer h3 {
    font-size: 1.2em;
  }

  #bottom-footer a {
    font-size: 1.2em;
  }

  #bottom-footer a:hover {
    text-decoration: underline;
  }

}